<!DOCTYPE html>
<html>
<head>
	<title>co.sutil.mx</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:site_name" content="co.sutil.mx">
	<meta property="og:title" content="co.sutil.mx" />
	<meta property="og:description" content="Site Building for Designers" />
	<meta property="og:image" itemprop="image" content="http://co.sutil.mx/assets/img/co.logo.png">
	<meta property="og:type" content="website" />

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/assets/css/minimal.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
	<div id="wrapper">
		<h1 class="title_image" id="logo"><a href="§" title="co.sutil.mx">{{ title }}</a></h1>
		<h2 id="slogan">As Simple as Drag 'n' Drop</h2>
		<h3 id="subslogan">Built for Designers. No Coding Required</h3>
	</div>
</body>
</html>